In [32]:
import osmnx as ox
import geopandas as gpd

# Set the query tags and location
bus_stop_tags = {"highway": "bus_stop"}
place = "Greater London"

# Get the geographic boundary of Greater London
gdf_greater_london = ox.geocode_to_gdf(place)

# Extract the geometry of Greater London
greater_london_geometry = gdf_greater_london.geometry.iloc[0]

# Query bus stops within the geometry of Greater London
bus_stops = ox.geometries_from_polygon(greater_london_geometry, tags=bus_stop_tags)

# Convert the result to a GeoDataFrame
bus_stops_gdf = gpd.GeoDataFrame(bus_stops)

C:\Users\60304\AppData\Local\Temp\ipykernel_14076\3484525765.py:18: FutureWarning: The `geometries` module and `geometries_from_X` functions have been renamed the `features` module and `features_from_X` functions. Use these instead. The `geometries` module and function names are deprecated and will be removed in the v2.0.0 release. See the OSMnx v2 migration guide: https://github.com/gboeing/osmnx/issues/1123
  bus_stops = ox.geometries_from_polygon(greater_london_geometry, tags=bus_stop_tags)

                         bench  bin  bus   highway  lit local_ref  \
element_type osmid
node         21687803      yes   no  yes  bus_stop  yes         M
             25477351       no   no  yes  bus_stop  NaN         F
             30439791       no  NaN  yes  bus_stop  NaN       NaN
             30440982      NaN  NaN  yes  bus_stop  NaN       NaN
             30441048      NaN  NaN  yes  bus_stop  NaN       NaN
...                        ...  ...  ...       ...  ...       ...
             12046803955   NaN  NaN  yes  bus_stop  NaN       NaN
             12051024113   NaN  NaN  yes  bus_stop  NaN        HG
             12052965847   NaN  NaN  yes  bus_stop  NaN       NaN
             12052965848   NaN  NaN  yes  bus_stop  NaN       NaN
             12061902390    no  NaN  yes  bus_stop   no         Q

                                                    name naptan:AtcoCode  \
element_type osmid
node         21687803     Fleet Street / City Thameslink      490012640M
             25477351           Liverpool Street Station      490000138F
             30439791                   The Great Pagoda             NaN
             30440982                       Natural Area             NaN
             30441048                     Brentford Gate             NaN
...                                                  ...             ...
             12046803955                Tolworth Station      490001295T
             12051024113                    Longley Road     490009332H9
             12052965847              Smitham Downs Road      490001972Z
             12052965848              Smitham Downs Road      490001972Y
             12061902390       Alliance Road - Temporary      490003236W

                         naptan:Bearing             naptan:CommonName  ...  \
element_type osmid                                                     ...
node         21687803                 N  Fleet Street City Thameslink  ...
             25477351                 N              Liverpool Street  ...
             30439791               NaN                           NaN  ...
             30440982               NaN                           NaN  ...
             30441048               NaN                           NaN  ...
...                                 ...                           ...  ...
             12046803955            NaN                           NaN  ...
             12051024113              N                  Longley Road  ...
             12052965847            NaN                           NaN  ...
             12052965848            NaN                           NaN  ...
             12061902390              W                 Alliance Road  ...

                         naptan:ShortCommonName noname disused  \
element_type osmid
node         21687803                       NaN    NaN     NaN
             25477351                       NaN    NaN     NaN
             30439791                       NaN    NaN     NaN
             30440982                       NaN    NaN     NaN
             30441048                       NaN    NaN     NaN
...                                         ...    ...     ...
             12046803955                    NaN    NaN     NaN
             12051024113                    NaN    NaN     NaN
             12052965847                    NaN    NaN     NaN
             12052965848                    NaN    NaN     NaN
             12061902390                    NaN    NaN     NaN

                         internet_access surface historic:highway  \
element_type osmid
node         21687803                NaN     NaN              NaN
             25477351                NaN     NaN              NaN
             30439791                NaN     NaN              NaN
             30440982                NaN     NaN              NaN
             30441048                NaN     NaN              NaN
...                                  ...     ...              ...
             12046803955             NaN     NaN              NaN
             12051024113             NaN     NaN              NaN
             12052965847             NaN     NaN              NaN
             12052965848             NaN     NaN              NaN
             12061902390             NaN     NaN              NaN

                         proposed:public_transport information coach  \
element_type osmid
node         21687803                          NaN         NaN   NaN
             25477351                          NaN         NaN   NaN
             30439791                          NaN         NaN   NaN
             30440982                          NaN         NaN   NaN
             30441048                          NaN         NaN   NaN
...                                            ...         ...   ...
             12046803955                       NaN         NaN   NaN
             12051024113                       NaN         NaN   NaN
             12052965847                       NaN         NaN   NaN
             12052965848                       NaN         NaN   NaN
             12061902390                       NaN         NaN   NaN

                         name:official
element_type osmid
node         21687803              NaN
             25477351              NaN
             30439791              NaN
             30440982              NaN
             30441048              NaN
...                                ...
             12046803955           NaN
             12051024113           NaN
             12052965847           NaN
             12052965848           NaN
             12061902390           NaN

[19966 rows x 159 columns]

In [34]:
bus_stops_gdf.to_file("london_bus_stops.geojson", driver="GeoJSON")

## shop

In [37]:
shop_tags = {"shop": True}
shops = ox.geometries_from_polygon(greater_london_geometry, shop_tags)

shops_gdf = gpd.GeoDataFrame(shops)

C:\Users\60304\AppData\Local\Temp\ipykernel_14076\3907225641.py:2: FutureWarning: The `geometries` module and `geometries_from_X` functions have been renamed the `features` module and `features_from_X` functions. Use these instead. The `geometries` module and function names are deprecated and will be removed in the v2.0.0 release. See the OSMnx v2 migration guide: https://github.com/gboeing/osmnx/issues/1123
  shops = ox.geometries_from_polygon(greater_london_geometry, shop_tags)

In [38]:
shops_gdf.index

MultiIndex([(    'node', 21663357),
            (    'node', 25544124),
            (    'node', 25641515),
            (    'node', 25744394),
            (    'node', 25813308),
            (    'node', 25962160),
            (    'node', 26618618),
            (    'node', 26659113),
            (    'node', 26817795),
            (    'node', 26819169),
            ...
            ('relation', 13346371),
            ('relation', 13472610),
            ('relation', 13555911),
            ('relation', 14150830),
            ('relation', 14863174),
            ('relation', 15273641),
            ('relation', 15395583),
            ('relation', 15608716),
            ('relation', 16564769),
            ('relation', 17450628)],
           names=['element_type', 'osmid'], length=40434)

In [39]:
shops_gdf.reset_index(inplace=True)
shops_gdf

,element_type,osmid,amenity,geometry,entrance,level,wheelchair,branch,name,shop,...,payment:wechat,service:vehicle:transmission,service:vehicle:transmission_repair,bakery,source:date,room,unit,ways,type,company
0,node,21663357,fuel,POINT (-0.34184 51.57911),NaN,NaN,NaN,BP,bp,yes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,node,25544124,NaN,POINT (-0.12516 51.51112),NaN,NaN,yes,NaN,Tesco Express,convenience,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,node,25641515,NaN,POINT (-0.18272 51.55006),NaN,NaN,NaN,NaN,NaN,furniture,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,node,25744394,NaN,POINT (-0.14936 51.56208),NaN,NaN,limited,NaN,Tesco Express,convenience,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,node,25813308,NaN,POINT (-0.13334 51.54534),NaN,NaN,NaN,NaN,Tesco Express,convenience,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40429,relation,15273641,NaN,"POLYGON ((-0.01585 51.4773, -0.01565 51.47736,...",NaN,NaN,NaN,NaN,National Tyres and Autocare,car_repair,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[124990465, 124990470, 124990473]",multipolygon,NaN
40430,relation,15395583,NaN,"POLYGON ((-0.18022 51.61163, -0.18015 51.61168...",NaN,NaN,NaN,NaN,Waitrose,supermarket,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[23508305, 14965209, 1135441953]",multipolygon,NaN
40431,relation,15608716,NaN,"POLYGON ((-0.09651 51.5141, -0.09638 51.51415,...",NaN,NaN,NaN,NaN,Next,clothes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[320406746, 320410518]",multipolygon,NaN
40432,relation,16564769,NaN,"POLYGON ((-0.11181 51.46249, -0.11171 51.46252...",NaN,NaN,NaN,NaN,Le Brixton Deli,deli,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[324121484, 1218542260]",multipolygon,NaN
40433,relation,17450628,NaN,"POLYGON ((-0.36737 51.47101, -0.36738 51.47106...",NaN,NaN,NaN,NaN,8 Till Late,convenience,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[1271270265, 1271270266]",multipolygon,NaN

In [40]:
shops_gdf.to_file("london_shops_cleaned.geojson", driver="GeoJSON")